<div class="load-container">
    <div class="loading-screen"></div>
</div>
<!-- Header -->
<main data-barba="container" data-barba-namespace="{% block barba_namespace %}home-section{% endblock barba_namespace %}">
    <header class="text-gray-400 bg-gray-900 body-font -my-0">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto">
                <a href="{% url "home" %}" class="mr-5 hover:text-white">HOME</a>
                <a href="{% url "faqs" %}" class="mr-5 hover:text-white">FAQ'S</a>
                <a href="{% url "contact" %}" class="mr-5 hover:text-white">Contact us</a>
                <a href="{% url "changelog" %}" class="hover:text-white">Updates</a>
            </nav>
            <a
                class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-white lg:items-center lg:justify-center mb-4 md:mb-0">
                <span class="ml-4 text-xl xl:block lg:w-2/5 reel-rec">Reel Rec</span>
            </a>
            <!-- Settings Menu -->
            <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
                {% if user.is_authenticated %}
                <div class=" relative inline-block text-left dropdown">
                  <span class="rounded-md shadow-sm"><button
                      class="inline-flex justify-center w-full px-4 py-2 text-sm font-medium leading-5 text-gray-400 transition duration-300 ease-in-out bg-gray-800 border border-gray-800 rounded-md hover:bg-gray-700 focus:outline-none focus:border-indigo-500 focus:shadow-outline-blue active:bg-gray-500 active:text-gray-400"
                      type="button" aria-haspopup="true" aria-expanded="true" aria-controls="headlessui-menu-items-117">
                      <span>Settings</span>
                      <svg class="w-4 h-5 ml-2 -mr-1" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </button></span>
                  <div
                    class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right -translate-y-4 scale-95">
                    <div
                      class="absolute right-0 w-56 mt-2 origin-top-right bg-gray-800 border border-gray-100 divide-y divide-gray-100 rounded-md shadow-lg outline-none"
                      aria-labelledby="headlessui-menu-button-1" id="headlessui-menu-items-117" role="menu">
                      <div class="px-4 py-3">
                        <p class="text-sm leading-5">Signed in as</p>
                        <p class="text-sm font-medium leading-5 text-purple-600 truncate hover:text-purple-500">
                          {{ user.username }}</p>
                      </div>
                      <div class="py-1">
                        <a href="{% url "profile" %}" tabindex="0"
                          class="text-gray-400 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left"
                          role="menuitem">Account</a>
                        <a href="{% url "changelog" %}" tabindex="1"
                          class="text-gray-400 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left"
                          role="menuitem">Updates</a>
                        <a href="{% url "contact" %}" tabindex="2"
                          class="text-gray-400 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left"
                          role="menuitem">Report a problem</a>
                      </div>
                      <div class="py-1">
                        <form method="post" class="inline-flex" action="{% url 'signout' %}">
                            {% csrf_token %}
                        <button type="submit" tabindex="3"
                          class="text-gray-400 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left"
                          role="menuitem">Sign out
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
            {% endif %}
        </div>
    </header>