{% extends "./../base.html" %}
{% block title %}
500 Internal Server Error
{% endblock title %}
{% block carousel_1 %}{% endblock carousel_1 %}
{% block carousel_2 %}{% endblock carousel_2 %}

{% block form %}
    <!-- Main Content -->
    <main class="grid min-h-full place-items-center bg-gray-900 px-6 py-24 sm:py-32 lg:px-8">
        <div class="text-center">
            <p class="text-base font-semibold text-purple-500">500</p>
            <h1 class="mt-4 text-3xl font-bold tracking-tight text-white sm:text-5xl">Something's wrong</h1>
            <p class="mt-6 text-base leading-7 text-purple-500">Someone broke the Matrix, Call NEO!</p>
            <!-- Image Source -->
            <img src="https://media1.tenor.com/m/ang0VzOwbdAAAAAd/the-matrix-reloaded-matrix.gif" width="500px" alt="Matrix Broken" srcset="">
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="{% url "home" %}"
                    class="rounded-md bg-purple-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-purple-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-500">Go
                    back home</a>
                <br><br><br><br><br><br><br><br>
            </div>
        </div>
    </main>
{% endblock form %}